body
{
    font-family: Verdana, serif, sans-serif;
    width:100%;
    margin: auto;
    background-image: url("dl_link/background.jpg");
    background-attachment: fixed;
}

head
{
    font-family: Verdana, serif, sans-serif;
}

.container
{
    background-color: darkgrey;
    border-top: 2px ridge grey;
    border-left: 2px ridge grey;
    border-right: 2px ridge grey;
    border-bottom: 2px ridge grey;
    padding: 12px;
    width : 960px;
    margin: 0 auto;
    text-align: justify;
    margin-top: 3.5%;
}

.text
{
    margin-top: 10px;
    width : 960px;
    text-align: justify;
}

.text a
{
    text-decoration: none;
    color: black;
}

.text a:hover
{
    text-decoration: underline;
}

.header
{
    background: dimgray;
    width:100%;
    top:0;
    position:fixed;
    border-bottom: 2px outset dimgray;
    border-top: 2px inset dimgray;
}

.nav
{
    font-family: Verdana, serif, sans-serif;
    float: left;
    font-family:monospace;
    font-size: 1.2em;
    padding-bottom: 10px;
}

.nav a
{
    text-decoration: none;
    color:black;
    text-transform: uppercase;
}

.nav a:hover
{
    color: dodgerblue;
    text-decoration: underline;
}

.nav ul li
{
    list-style: none;
    text-transform: uppercase;
    font-family:monospace;
    font-size: 1.2em;
    float: left;
    margin-left: 15px;
    padding-top: 4px;
    padding-bottom: 5px;
}

.lefter
{
    padding-right: 10px;
    background-color: lightgray;
    float:left;
    border-top: 2px ridge grey;
    border-left: 2px ridge grey;
    border-right: 2px ridge grey;
    border-bottom: 2px ridge grey;
}

.leftnav a:hover
{
    text-decoration: underline;
}

.leftnav a
{
    color:black;
    text-decoration: none;
}

.current_page
{
    color: whitesmoke;
}

.dlink
{
    text-decoration: none;
    color: blue;
}

.dlink:hover
{
    text-decoration: underline;
}

.text li
{
    font-weight: bold;
}

<!-- Formulaire de contact -->
.text_form
{
    text-align: center;
}

.form_contact
{
    margin-top: 10px;
}

.form_contact p
{
    margin-left: 15px;
}

.form_contact li
{
    margin-left: 15px;
}

label
{
    display: block;
    margin-left: 5%;
}

.button
{
    width:125px;
    margin-left: 20%;
    margin-top: 5px;
    margin-bottom: 4px;
}

input
{
    margin-left: 15px;
    width: 300px;
    border: 1px ridge black;
}

fieldset
{
    margin-top: 2px;
}

textarea
{
    margin-left:15px;
    width: 700px;
    height: 300px;
    border: 1px ridge black;
}