body
{
    font-family: Verdana, serif, sans-serif;
    width:100%;
    margin: auto;
}

head
{
    font-family: Verdana, serif, sans-serif;
}

.container
{
    width : 960px;
    margin : 0 auto;
    text-align: justify;
    margin-top: 70px;
}

.header
{
    background: dimgray;
    width:100%;
    top:0;
    position:fixed;
}

.nav
{
    font-family: Verdana, serif, sans-serif;
    float: left;
    font-family:monospace;
    font-size: 1.2em;
    padding-bottom: 10px;
}

.nav a
{
    text-decoration: none;
    color:black;
    text-transform: uppercase;
}

.nav a:hover
{
    color:darkcyan;
    text-decoration: underline;
}

.nav ul li
{
    list-style: none;
    text-transform: uppercase;
    font-family:monospace;
    font-size: 1.2em;
    float: left;
    margin-left: 15px;
    padding-top: 4px;
    padding-bottom: 5px;
}

.current_page
{
    color:whitesmoke;
}

.dlink
{
    text-decoration: none;
    color:darkgreen;
}

.dlink:hover
{
    text-decoration: underline;
}

.text h1
{
    font-size: 1.3em;
}

.text li
{
    font-weight: bold;
}
